language: php

php:
  - 7.1
  - 7.2
  - 7.3

matrix:
  fast_finish: true

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script: phpunit tests --coverage-clover=coverage.xml

notifications:
    on_success: never
    on_failure: always
