language: php

php:
  - 7.4
  - 8.0
  - 8.1

matrix:
  fast_finish: true

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script: phpunit tests

after_success:
  - travis_retry php vendor/bin/php-coveralls -v

notifications:
    on_success: never
    on_failure: always
