language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1

matrix:
  allow_failures:
    - php: 5.5
    - php: 5.6
  fast_finish: true

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script: phpunit tests

notifications:
    on_success: never
    on_failure: always