<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="vendor/autoload.php"
        cacheDirectory=".phpunit.cache"
        colors="true"
>
    <testsuites>
        <testsuite name="aymanrb/php-unstructured-text-parser">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
